footer {
    margin: 150px 0 100px;
    font-size: 15px;
  }
  
  .addressInfo, .socialMedia, .copyright {
    width: 268px;
    font-size: 15px;
    font-weight: 300;
    font-family: sans-serif;
  }
  
  .navigation {
    font-size: 15px;
    font-weight: 400;
  }
  
  .navigation ul li {
    margin: 0 auto;
    padding-bottom: 16px;
  }
  
  .logoFooter {
    background: #0D28A6;
    width: 100px;
    height: 34px;
    margin: 0;
  }
  
  span {
    margin-right: 16px;
  }